<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:method="POST" th:action="@{/task/create}" th:object="${task}">
    <label th:for="header">HEADER</label>
    <input type="text" th:field="${task.header}" id="header">

    <div style="color: red" th:if="${#fields.hasErrors('header')}" th:errors="*{header}"></div>
    </br>
    <label th:for="description">Description</label>
    <input type="text" th:field="${task.description}" id="description">
    <div style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
    </br>
    <label th:for="deadline">DeadLINE</label>
    <input type="text" th:field="${task.deadline}" id="deadline">
    <div style="color: red" th:if="${#fields.hasErrors('deadline')}" th:errors="*{deadline}"></div>
    </br>
    <label th:for="priority">priority</label>
    <select th:field="${task.priority}">
        <option th:value="'High'" th:text="HIGH"></option>
        <option th:value="'Averade'" th:text="Average"></option>
        <option th:value="'Low'" th:text="Low"></option>

    </select>
    </br>
    <label th:for="status">STATUS</label>
    <select th:field="${task.status}">
        <option th:value="'InProgress'" th:text="InProgress"></option>
        <option th:value="'Done'" th:text="Done"></option>
        <option th:value="'Canceled'" th:text="Canceled"></option>
        <option th:value="'Postponed'" th:text="Postponed"></option>
<!--    </select>-->
<!--    <label  th:for="User">User</label>-->
<!--    <select  th:field="${task.user}"  >-->
<!--         <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.surname}"-->
<!--                ></option>-->
<!--    </select>-->


    </br>

    <input type="submit" value="Save Task">
</form>

</body>
</html>