<!DOCTYPE html>
<html lang="en" xmlns: th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form name="f" method="POST" action="/proc">
  <label for="username">write login</label>
  <input type="text" name="username" id="username">
  <br/>
  <label for="password">write password</label>
  <input type="password" name="password" id="password">
  <br/>

  <input type="submit" value="Log in">
<a th:href="@{/user/registrate}"> Registration</a>
  <div th:if="${param.error}" style="color: red">
    Incorrect login or password
  </div>





</form>

</body>
